In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
# 타임 기준으로 데이터를 만들어내는 과정에는 대게 ts 가 하나의 list 형태로 만들어지기 마련 <- 이러한 접근이 용이한 라이브러리 Series
series = pd.Series([3, 5, 7, 9], index=['a', 'b', 'c', 'd'])
print(series)

print(series.values, series.index)
# print(series['c'])

a    3
b    5
c    7
d    9
dtype: int64
[3 5 7 9] Index(['a', 'b', 'c', 'd'], dtype='object')
7

In [26]:
# 데이터를 저장하고 직관적으로 접근하고 다루기 위해서는 테이블 형태가 편하고, 다루기 쉽다 <- 이러한 접근을 용이하게 하는 라이브러리 DataFrame (spark 과 유사)
dframe = pd.DataFrame({'col_s': series, 'col_t': pd.Series([4, 5, 6, 7], index=['a', 'b', 'c', 'd'])})
print(dframe)

print("{}\n{}\n{}".format(dframe.values, dframe.index, dframe.columns))
print(dframe['col_t']['a'])

   col_s  col_t
a      3      4
b      5      5
c      7      6
d      9      7
[[3 4]
 [5 5]
 [7 6]
 [9 7]]
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['col_s', 'col_t'], dtype='object')
4

In [3]:
dates = pd.date_range("20220501", periods=6)
dates

DatetimeIndex(['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04',
               '2022-05-05', '2022-05-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-05-01 -0.935988 -0.082855  0.725170  0.844055
2022-05-02 -0.106294 -0.612459 -0.595975 -0.760415
2022-05-03  1.051846  0.619590  0.436405  1.293391
2022-05-04  0.608124  1.382357 -0.327649 -0.037140
2022-05-05 -0.953106 -1.651043  0.662254  1.090302
2022-05-06  0.191225  0.915523  1.217761  1.154670

#### 시리즈 데이터를 모아서 데이터프레임을 만든다는 단순한 규칙 하나를 알게 됨
```json
DataFrameA = { ColA : SeriesA, ColB : SeriesB }
```

> 공부하던 와중에 마침 최근에 프로젝트에 적용하면 좋겠다는 사실을 깨달음