In [1]:
# 일반함수와 익명함수의 차이점

def print_function(func, input):
    output = func(input)
    print('input: {}, output: {}'.format(input, output))

# 일반함수
def square(x):
    return x ** 2

print_function(square, 2)

input: 2, output: 4

In [2]:
# 익명함수

print_function(lambda x: x**2, 2)

input: 2, output: 4

In [3]:
# 인수 테스트 - primitive type 은 객체가 아니므로 값으로 전달
input_value_is_one = 1
def args_modified(input):
    input += 1

print(input_value_is_one)
args_modified(input_value_is_one)
print(input_value_is_one)

1
1

In [4]:
# 인수 테스트 - 문자열 또한 값으로 전달
input_string_is_one = "1"
def args_modified(input):
    input = "2"

print(input_string_is_one)
args_modified(input_string_is_one)
print(input_string_is_one)

1
1

In [60]:
# 인수의 위치와 지정 인수
import pprint

movies = dict()
def register_movie(name=None, director=None, year=1970):
    movie = dict(movie_name=name, movie_director=director, movie_year=year)
    movies[name] = movie

register_movie('타이타닉', 1997, '제임스 카메론')
pprint.pprint(movies)

register_movie(name='타이타닉', year=1997, director='제임스 카메론')
pprint.pprint(movies)

{'타이타닉': {'movie_director': 1997,
          'movie_name': '타이타닉',
          'movie_year': '제임스 카메론'}}
{'타이타닉': {'movie_director': '제임스 카메론',
          'movie_name': '타이타닉',
          'movie_year': 1997}}

In [72]:
# 인수의 위치와 지정 인수
import pprint

movies = dict(타이타닉=dict(movie_name='타이타닉', movie_director='제임스 카메론', movie_year=97))

def fix_movie_year(movie):
    if movie['movie_year'] < 100:
        movie['movie_year'] = movie['movie_year'] + 1900
    movies[movie['movie_name']] = movie

movie = movies['타이타닉']
pprint.pprint(movie)

fix_movie_year(movie)
pprint.pprint(movies)

{'movie_director': '제임스 카메론', 'movie_name': '타이타닉', 'movie_year': 97}
{'타이타닉': {'movie_director': '제임스 카메론',
          'movie_name': '타이타닉',
          'movie_year': 1997}}

In [73]:
# def 또한 객체입니다
test = False if test else True
if test:
    def print_message():
        print('foo')
else:
    def print_message():
        print('bar')

print_message()

bar

In [76]:
# 함수의 정의/생성/호출
import common
common.times(2, 4)

8

In [79]:
# 시퀀스의 교집합 구하기 - 시퀀스 형태의 자료형에 대해서만 동작하도록 구현 (list, str)

def intersection(seq1, seq2):
    setX = set()
    for s1 in seq1:
        if s1 in seq2:
            setX.add(s1)
    return setX

# 문자열 교집합
intersection("NETFLIX", "XILFTEN")

{'E', 'F', 'I', 'L', 'N', 'T', 'X'}

In [81]:
# 숫자형 교집합
intersection([1,2,3,4,5],[3,4,5,6,7])

{3, 4, 5}

In [83]:
# 집합의 교집합
intersection({1,2,3,4,5,6},{10,9,8,7,6,5})

{5, 6}

In [84]:
# 맵의 교집합 (원하는 동작이 아님)
intersection(dict(name='name', age=30), dict(name='name2', age=40))

{'age', 'name'}

In [85]:
bool(1)

True