In [1]:
mysql://scott:tiger@mysql:3306/default

In [6]:
show tables;

,Tables_in_default
0,foo
1,purchase_20201025
2,purchase_20201026
3,seoul_popular_trip
4,user_20201025
5,user_20201026

In [3]:
select * from seoul_popular_trip limit 10;

,category,id,name,address,naddress,tel,tag
0,0,281,통인시장,110-043 서울 종로구 통인동 10-3,03036 서울 종로구 자하문로15길 18,02-722-0911,"엽전도시락,종로통인시장,통인시장닭꼬치,런닝맨,엽전시장,통인시장데이트,효자베이커리,통인시장, 1박2일,기름떡볶이"
1,0,345,타르틴,140-863 서울 용산구 이태원동 119-15,04350 서울 용산구 이태원로23길 4 (이태원동),02-3785-3400,"타르틴,이태원디저트카페,파이,런닝맨,파이맛집,이태원맛집, 유재석,식신로드,타르트맛집"
2,0,383,해랑,135-827 서울 강남구 논현동 183,06120 서울 강남구 강남대로118길 12 (부경빌딩),02-544-7270,"해물탕,해물음식점,해물요리,강남맛집,논현동음식점,강남,신논현맛집,해랑"
3,0,413,인도로 가는 길,110-300 서울 종로구 관훈동 198-36,"03149 서울 종로구 인사동5길 20 (관훈동, 오원빌딩)",02-738-7773,"인도 요리,인도레스토랑,인도로 가는 길,광화문,할랄레스토랑,인도음식점,인사동음식점,커리음식점"
4,0,420,올데이 브런치 카페 B Meal(비밀),140-893 서울 용산구 한남동 738-7,04348 서울 용산구 이태원로55가길 35,02-797-0715,"이태원브런치,브런치음식점,올데이 브런치 카페 B Meal,카페,한남동음식점,이태원,이태원음식점,한남동카페,이태원카페"
5,0,428,장이오,137-857 서울 서초구 서초동 1321-9,06619 서울 서초구 강남대로55길 24 (풍림아이원매직),02-3473-1025,"장이오,강남,한식음식점,한식전문점,강남역음식점,된장찌개,된장,서초동음식점, 간장, 고추장"
6,0,429,진진바라 (서울역점),140-709 서울 용산구 동자동 12,04323 서울 용산구 후암로 107 (게이트웨이타워),02-777-8004,"진진바라,서울역음식점,용산음식점,한식음식점,서울역,한정식,한식전문점"
7,0,441,울프강 스테이크 하우스,135-954 서울 강남구 청담동 89-6,"06016 서울 강남구 선릉로152길 21 (청담동, 영인빌딩)",02-556-8700,"뉴욕3대스테이크,스테이크,스테이크음식점,청담동음식점,강남,레스토랑,울프강 스테이크 하우스"
8,0,446,난향,120-834 서울 서대문구 창천동 72-21,03787 서울 서대문구 신촌로 67 (거촌빌딩),02-322-6900,"중화요리,중국집,난향,신촌음식점,중국 음식점,고급중식당,중식레스토랑"
9,0,463,논현삼계탕(명동점),100-860 서울 중구 충무로2가 7-1,04537 서울 중구 명동10길 41,02-518-4602,"논현삼계탕,명동음식점,삼계탕전문점,명동,백숙,보양식,삼계탕"

In [7]:
desc foo

,Field,Type,Null,Key,Default,Extra
0,id,int(11),YES,,None,
1,name,varchar(50),YES,,None,

In [5]:
create table foo (id int, name varchar(50));